---
import CoursesCards from "../components/CoursesCards.astro";
---

<main id="cursos" class="mx-auto mt-40">
  <h1 class="mb-14 font-bold text-center text-velde text-4xl">
    &lt Certificados /&gt
  </h1>

  <CoursesCards />
</main>
