<main id="experiencia" class="mx-auto flex flex-col text-white h-full">
  <h2 class="my-8 text-center text-velde text-5xl font-medium">
    &ltExperiencia/&gt
  </h2>
  <section class="mx-6 px-14">
    <ul
      class="timeline timeline-snap-icon max-md:timeline-compact timeline-vertical"
    >
      <li></li>
      <li>
        <div class="timeline-middle">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="h-5 w-5"
            ><path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
              clip-rule="evenodd"></path></svg
          >
        </div>
        <div class="timeline-start md:text-end mb-10">
          <time class="font-mono italic">2024</time>
          <div class="text-lg font-black text-velde">Freelance</div>
          <p class="text-xs text-pretty">
            Como desarrollador web freelance, colaboro directamente con clientes
            para crear soluciones digitales personalizadas. Mi enfoque incluye
            diseño responsivo, desarrollo frontend, implementando tecnologías
            actuales para ofrecer trabajos efectivos y atractivos.
          </p>
        </div>
        <hr />
      </li>
      <li>
        <hr />
        <div class="timeline-middle">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="h-5 w-5"
            ><path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
              clip-rule="evenodd"></path></svg
          >
        </div>
        <div class="timeline-end mb-10">
          <time class="font-mono italic">2023</time>
          <div class="text-lg font-black text-velde">Incluit</div>
          <p class="text-xs text-pretty">
            Como desarrollador Front-End en Incluit, contribuí al desarrollo de
            una billetera virtual para el Banco de Formosa utilizando React
            Native. Enfoqué mis habilidades en la creación de interfaces
            intuitivas y eficientes para mejorar la experiencia del usuario en
            transacciones financieras.
          </p>
        </div>
        <hr />
      </li>
      <li>
        <hr />
        <div class="timeline-middle">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="h-5 w-5"
            ><path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
              clip-rule="evenodd"></path></svg
          >
        </div>
        <div class="timeline-start md:text-end mb-10">
          <time class="font-mono italic">2021</time>
          <div class="text-lg font-black text-velde">
            Marco Beach Ocean Resort
          </div>
          <p class="text-xs text-pretty">
            Como Mesero en Marco Beach Ocean Resort, brindé un servicio
            excepcional a los huéspedes, asegurando experiencias gastronómicas
            memorables. Mi desempeño no solo perfeccionó mis habilidades de
            atención al cliente, sino que también enriqueció mi práctica del
            inglés en un entorno turístico diverso.
          </p>
        </div>
        <hr />
      </li>
      <li>
        <hr />
        <div class="timeline-middle">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="h-5 w-5"
            ><path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
              clip-rule="evenodd"></path></svg
          >
        </div>
        <div class="timeline-end mb-10">
          <time class="font-mono italic">2020</time>
          <div class="text-lg font-black text-velde">
            Club Atlético Talleres
          </div>
          <p class="text-xs text-pretty">
            Como Analista de Sistemas en el Club Atlético Talleres, proporcioné
            soporte técnico completo, gestionando la instalación y reparación de
            cámaras, hardware y software. Mi rol contribuyó a mantener y mejorar
            la funcionalidad de la infraestructura tecnológica del club para
            satisfacer sus necesidades operativas.
          </p>
        </div>
      </li>
    </ul>
  </section>
</main>
