---
import Layout from "../layouts/Layout.astro";
import Hello from "./Hello.astro";
import Experiencia from "./Experiencia.astro";
import Proyectos from "./Proyectos.astro";
import Contacto from "./Contacto.astro";
import Me from "./Me.astro";
---

<Layout title="Portfolio Rodrigo Fassi web-developer ">
  <main class="max-w-[850px] mx-auto">
    <Hello />
    <Experiencia />
    <Proyectos />
    <Me />
    <Contacto />
  </main>
</Layout>



