---
import Layout from "../layouts/Layout.astro";
import Hello from "../components/Hello.astro";
import Experiencia from "../components/Experiencia.astro";
import Proyectos from "../components/Proyectos.astro";
import Contacto from "../components/Contacto.astro";
import Me from "../components/Me.astro";
---

<Layout title="Portfolio Rodrigo Fassi web-developer ">
  <main class="max-w-[850px] mx-auto">
    <Hello />
    <Experiencia />
    <Proyectos />
    <Me />
    <Contacto />
  </main>
</Layout>



