---
import Layout from "../layouts/Layout.astro";
import Hello from "../components/Hello.astro";
import Experiencia from "../components/Experiencia.astro";
import Proyectos from "../components/Proyectos.astro";
import Contact from "../components/Contact.astro";
import Me from "../components/Me.astro";
---

<Layout title="Portfolio Rodrigo Fassi web-developer ">
  <main>
    <Hello />
    <Experiencia />
    <Proyectos />
    <Me />
    <Contact />
  </main>
</Layout>



