<main class="mx-auto mt-40 text-white">
  <article class="text-center mx-auto px-4 max-w-[700px]">
    <h1 class="font-bold text-velde text-4xl mb-4">&ltSobre M칤/&gt</h1>
    <p class="text-pretty text-l">
      Hola! Soy <span class="text-velde">Rodrigo</span> , un entusiasta del desarrollo con 29 a침os, radicado en
      Argentina. Apasionado por la tecnolog칤a, decid칤 aventurarme en el mundo de
      la programaci칩n hace unos a침os. Mi viaje ha sido emocionante, y cada l칤nea
      de c칩digo que escribo es un paso m치s en mi apasionante traves칤a.
    </p>
    <br />
    <p class="text-pretty">
      Me encanta enfrentar desaf칤os, aprender nuevas tecnolog칤as y contribuir a
      soluciones creativas. Mi compromiso es seguir creciendo, aprender de cada
      experiencia y aportar mi creatividad al mundo del desarrollo. 춰Estoy
      emocionado por lo que el futuro tiene reservado en mi viaje de desarrollo!
      游
    </p>
  </article>
</main>
