<!-- <main class="mx-auto mt-40 text-white">
  <article class="text-center mx-auto px-4 max-w-[700px]">
    <h1 class="font-bold text-velde text-4xl mb-4">&ltSobre M칤/&gt</h1>
    <p class="text-pretty text-l">
      Hola! Soy <span class="text-velde">Rodrigo</span> , un entusiasta del desarrollo con 29 a침os, radicado en
      Argentina. Apasionado por la tecnolog칤a, decid칤 aventurarme en el mundo de
      la programaci칩n hace unos a침os. Mi viaje ha sido emocionante, y cada l칤nea
      de c칩digo que escribo es un paso m치s en mi apasionante traves칤a.
    </p>
    <br />
    <p class="text-pretty">
      Me encanta enfrentar desaf칤os, aprender nuevas tecnolog칤as y contribuir a
      soluciones creativas. Mi compromiso es seguir creciendo, aprender de cada
      experiencia y aportar mi creatividad al mundo del desarrollo. 춰Estoy
      emocionado por lo que el futuro tiene reservado en mi viaje de desarrollo!
      游
    </p>
  </article>
</main>

 --><!-- <main class="mx-auto mt-40 text-white">
  <article class="text-center mx-auto px-4 max-w-[700px]">
    <h1 class="font-bold text-velde text-4xl mb-4">&lt;Sobre M칤/&gt;</h1>
    <p class="text-pretty text-l">
      Hola, soy <span class="text-velde">Rodrigo</span> de C칩rdoba, Argentina. Soy
      un apasionado de la tecnolog칤a, los deportes y los perros.
    </p>
    <br />
    <p class="text-pretty">
      Desde muy joven, siempre he tenido una gran curiosidad por c칩mo funcionan
      las cosas, lo que me llev칩 a estudiar y trabajar en el campo de la
      tecnolog칤a. Me encanta mantenerme al d칤a con las 칰ltimas tendencias
      tecnol칩gicas y siempre estoy buscando nuevos retos y proyectos en los que
      pueda aplicar mis habilidades.
    </p>
    <br />
    <p class="text-pretty">
      En mi tiempo libre, disfruto jugando al padel. Adem치s, soy un entusiasta
      del gimnasio.
    </p>
    <br />
    <p class="text-pretty">
      Tambi칠n me encanta inventar cosas con mi impresora 3D. La impresi칩n 3D no
      solo me permite dar vida a mis ideas, sino que tambi칠n es una excelente
      manera de aprender y experimentar con nuevas tecnolog칤as.
    </p>
    <br />
    <p class="text-pretty">
      Adem치s de mi amor por la tecnolog칤a y los deportes, soy un gran amante de
      los perros. Disfruto pasar tiempo con mis mascotas, aprender sobre su
      comportamiento y asegur치ndome de que tengan una vida feliz y saludable.
    </p>
  </article>
</main> -->
<main class="mx-auto mt-40 text-white">
  <article class="text-center mx-auto px-4 max-w-[700px]">
    <h1 class="font-bold text-velde text-4xl mb-4">&lt;Sobre M칤/&gt;</h1>
    <p class="text-pretty text-l">
      Soy <span class="text-velde">Rodrigo</span>, un cordob칠s con una gran
      pasi칩n por la tecnolog칤a, los deportes y los perros. Desde peque침o me ha
      fascinado el mundo digital, y siempre estoy buscando nuevas formas de
      aprender y aplicar mis conocimientos. En mi tiempo libre, me encanta jugar
      al padel, mantenerme en forma en el gimnasio y crear proyectos propios o
      existentes con mi impresora 3D.
    </p>
    <br />
    <p class="text-pretty">M치s all치 de mis aficiones:</p>

    <p class="text-pretty">
      Soy una persona curiosa y entusiasta, siempre dispuesta a aprender cosas
      nuevas y explorar nuevos desaf칤os.
    </p>

    <p class="text-pretty">
      Me considero creativo e innovador, con una gran capacidad para resolver
      problemas y encontrar soluciones ingeniosas.
    </p>

    <p class="text-pretty">
      Soy dedicado y trabajador, me esfuerzo por dar lo mejor de m칤 en todo lo
      que hago.
    </p>
  </article>
</main>
