<main class="mx-auto mt-40 text-white">
  <article class="text-center mx-auto px-4 max-w-[700px]">
    <h1 class="font-bold text-velde text-4xl mb-4">&lt;Sobre Mí/&gt;</h1>
    <p class="text-pretty text-l">
      Soy <span class="text-velde">Rodrigo</span>, un cordobés con una gran
      pasión por la tecnología, los deportes y los perros. Desde pequeño me ha
      fascinado el mundo digital, y siempre estoy buscando nuevas formas de
      aprender y aplicar mis conocimientos. En mi tiempo libre, me encanta jugar
      al padel, mantenerme en forma en el gimnasio y crear proyectos propios o
      existentes con mi impresora 3D.
    </p>
    <br />
    <p class="text-pretty">Más allá de mis aficiones:</p>

    <p class="text-pretty">
    
    Soy una persona curiosa y entusiasta, siempre dispuesta a  <span class="text-velde">aprender</span> cosas
      nuevas y explorar nuevos desafíos.
    </p>

    <p class="text-pretty">
      Me considero creativo e innovador, con una gran capacidad para resolver
      problemas y encontrar soluciones ingeniosas.
    </p>

    <p class="text-pretty">
      Soy dedicado y trabajador, me esfuerzo por dar lo mejor de mí en todo lo
      que hago.
    </p>
  </article>
</main>
