---
import ProjectCard from "../components/ProjectCard.astro";

---

<main id="proyectos" class="mx-auto mt-40">
  <h1 class="mb-14 font-bold text-center text-velde text-4xl">
    &lt Proyectos /&gt
  </h1>
  
  <ProjectCard />
</main>
