<a
  href="#top"
  class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse"
>
  <div
    class="relative hover:scale-125 transition-all inline-flex items-center justify-center w-12 h-12 overflow-hidden rounded-full g-gray-600 hover:text-velde"
  >
    RF
  </div>
</a>
