---
import Github from "../components/icons/GitHub.astro";
import Linkedin from "../components/icons/Linkedin.astro";
import Avatar from "./Avatar.astro";
---

<footer class="rounded-lg w-auto shadow bg-gray-900 m-4">
  <div class="max-w-screen-xl mx-auto p-4 md:py-8">
    <div class="sm:flex sm:items-center sm:justify-evenly">
      <Avatar/>
      <ul
        class="flex flex-wrap items-center gap-6 mb-6 text-sm font-medium text-gray-500 sm:mb-0"
      >
        <li>
          <a href="https://www.linkedin.com/in/rodrigofassi/"  target="_blank">
            <Linkedin class="h-7 w-7 hover:scale-125 transition-all" />
          </a>
        </li>
        <li>
          <a href="https://github.com/rodrifassi7" target="_blank">
            <Github class="h-7 w-7 hover:scale-125 transition-all" />
          </a>
        </li>
      </ul>
    </div>
    <hr class="my-6 sm:mx-auto border-gray-700 lg:my-8" />
    <span class="block text-sm sm:text-center text-gray-400"
      >© 2024 <a href='#"' class="">Fassi™</a>. Ningun derecho reservado.</span
    >
  </div>
</footer>
