<main class="flex mx-auto h-screen max-w-[960px]">
  <section
    class="snap-center justify-center flex flex-col flex-grow w-full sm:w-60 px-4 sm:px-10 font-sans"
  >
    <h1 class="px-4 sm:px-10 text-white text-1xl sm:text-6xl">
      Hello, my name is <br />
      <strong class="text-pink-700">Rodrigo Fassi</strong>
    </h1>

    <p class="text-white text-lg border-b-2 mt-4 border-blue-500 text-center">
      Front-end Developer currently based in Cordoba, Argentina.
    </p>
  </section>

  <aside class="self-center mt-4 sm:mt-0">
    <img
      class="w-full sm:w-64 h-64 rounded-3xl"
      src="../../public/images/portfolio_pic.jpg"
      alt="Selfie de Rodrigo"
    />
  </aside>
</main>
