---
import GitHub from "./icons/GitHub.astro";
import Linkedin from "./icons/Linkedin.astro";
---

<main class="flex sm:mx-auto mx-2 h-screen max-w-[960px] justify-evenly">
  <section class="justify-center flex flex-col flex-grow  text-center">
    <h1 class="text-white text-2xl sm:text-4xl">
      Hola, soy <br />
      <strong class="text-pink-700 text-5xl">Rodrigo Fassi</strong>
    </h1>

    <span class="text-naranja text-lg mt-4 border-blue-500">
      Front-end Developer de Cordoba, Argentina.
    </span>

    <p class="text-gray-300 my-4">
      Apasionado por la creación de experiencias web cautivadoras.
    </p>

    <div class="flex m-6 gap-6 justify-center">
      <a href="https://github.com/rodrifassi7" target="_blank">
        <Linkedin class="h-8 w-8 hover:scale-125 transition-all" />
      </a>

      <a href="https://github.com/rodrifassi7" target="_blank">
        <GitHub class="h-8 w-8 hover:scale-125 transition-all" />
      </a>
    </div>
  </section>

  <aside class="self-center mt-4 sm:mt-0">
    <img
      class="w-full sm:w-64 h-64 rounded-3xl object-cover"
      src="../../public/portfolio_pic.jpg"
      alt="Selfie de Rodrigo"
    />
  </aside>
</main>
