---
import Avatar from "./Avatar.astro";
---

<nav
  id="header-nav"
  class="py-2 sm:px-10 sm:pb-4 flex items-center fixed top-0 w-screen justify-evenly text-white z-10"
>
  <div class="pt-3">
    <Avatar />
  </div>

  <div class="hidden sm:flex flex-grow justify-center">
    <ul class="flex gap-10">
      <li class="hover:scale-110 max-h-1 hover:text-velde transition-all">
        <a href="#experiencia">Experiencia</a>
      </li>
      <li class="hover:scale-110 max-h-1 hover:text-velde transition-all">
        <a href="#proyectos">Proyectos</a>
      </li>
      <li class="hover:scale-110 max-h-1 hover:text-velde transition-all">
        <a href="#contacto">Contacto</a>
      </li>
      <li class="hover:scale-110 max-h-1 hover:text-velde transition-all">
        <a href="#experiencia">&ltCV/&gt</a>
      </li>
    </ul>
  </div>

  <div class="sm:hidden">
    <button>
      <svg
        class="w-6 h-6 text-white"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16m-7 6h7"></path>
      </svg>
    </button>
  </div>
</nav>
