<nav
  id="header-nav"
  class=" py-7 sm:px-10 flex items-center fixed top-0 w-screen justify-center text-white z-10"
>
  <div class="flex justify-start">
    <p class="text-blue-500 bg-white rounded-full box-content p-2 mr-7">
      &ltRF/&gt
    </p>
  </div>
  <div class="hidden sm:flex">
    <ul class="flex gap-10">
      <li class="hover:text-2xl max-h-1 hover:text-red-500 transition-all">
        <a href="#top">Home</a>
      </li>
      <li class="hover:text-2xl max-h-1 hover:text-red-500 transition-all">
        <a href="#experiencia">Proyects</a>
      </li>
      <li class="hover:text-2xl max-h-1 hover:text-red-500 transition-all">
        <a href="#contacto">Contact</a>
      </li>
      <li class="hover:text-2xl max-h-1 hover:text-red-500 transition-all">
        <a href="#experiencia">Resume</a>
      </li>
    </ul>
  </div>

  <div class="sm:hidden">
    <button>
      <svg
        class="w-6 h-6 text-white"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16m-7 6h7"></path>
      </svg>
    </button>
  </div>
</nav>
