<main id="proyectos" class="max-w-[960px] mx-auto my-6">
  <h1 class="my-8 font-bold text-center text-white text-4xl">&lt Proyectos /&gt</h1>

  <div class="grid grid-cols-2 md:grid-cols-2 gap-4">
    <a
    href="#"
    >
      <img
        class="h-auto max-w-full rounded-lg"
        src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image.jpg"
        alt=""
      />
    </a>
    <a
    href="#"
    >
      <img
        class="h-auto max-w-full rounded-lg"
        src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-1.jpg"
        alt=""
      />
    </a>
    <a
    href="#"
    >
      <img
        class="h-auto max-w-full rounded-lg"
        src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-2.jpg"
        alt=""
      />
    </a>
    <a
    href="#"
    >
      <img
        class="h-auto max-w-full rounded-lg"
        src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-3.jpg"
        alt=""
      />
    </a>
  </div>
</main>
