---
interface Props {
  title: string;
}

const { title } = Astro.props;

import PortfolioNav from "../components/PortfolioNav.astro";
import "@fontsource-variable/onest";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/download.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="relative text-black dark:text-white">
    <body class="relative h-full w-full bg-slate-950">
      <div
        class="-z-40 absolute bottom-0 left-0 right-0 top-0 bg-[radial-gradient(circle_500px_at_50%_200px,#3e3e3e,transparent)]"
      >
      </div>
    </body>
    <PortfolioNav />
    <slot class="z-99" />
    <Footer />
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background: #13151a;
    background-size: 224px;
    scroll-behavior: smooth;
  }
  body {
    font-family: "Onest Variable", sans-serif;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }

  #header-nav {
    animation: blur linear both;
    animation-timeline: scroll();
    animation-range: 0 500px;
  }

  @keyframes blur {
    to {
      box-shadow:
        0px 5px 50px -5px hsla(0, 0%, 100%, 0.1),
        0px 0px 0px 1px hsla(0, 0%, 100%, 0.1);
      background: rgba(0, 0, 0, 0.3);
      backdrop-filter: blur(10px);
      scale: 90%;
      border-radius: 70px;
    }
  }

  @media (prefers-reduce-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
</style>
